<h1>Questions</h1>

<%= link_to "Add Question", new_question_path, :class => "btn btn-primary" %>
<hr>
<ul>
  <% @questions.each do |q| %>
    <li><%= link_to q.post, question_path(q) %></li>
    <% end %>
</ul>
