#question_body {
  padding-top: 30px;
}
.glyphicon-heart-empty:hover{
  color: red;
  text-decoration: none;
}

.glyphicon-heart {
  color: red;
}

.glyphicon-heart:hover {
  color: red;
  text-decoration: none;
}
